<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %p %style{ %t [%c{1.} %M %L]}{Cyan} : %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="log/app.log"
                     filePattern="log/$${date:yyyyMMdd}/app.log.%d{yyyyMMdd}.%i.gz">
            <PatternLayout pattern="%d %p %t [%c{1.} %M %L] : %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>