<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dao.entity.Activity">
        <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
        <result column="alumni_circle_id" jdbcType="BIGINT" property="alumniCircleId"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="activity_desc" jdbcType="VARCHAR" property="activityDesc"/>
        <result column="activity_time" jdbcType="TIMESTAMP" property="activityTime"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
        <result column="img1" jdbcType="VARCHAR" property="img1"/>
        <result column="img2" jdbcType="VARCHAR" property="img2"/>
        <result column="img3" jdbcType="VARCHAR" property="img3"/>
        <result column="img4" jdbcType="VARCHAR" property="img4"/>
        <result column="img5" jdbcType="VARCHAR" property="img5"/>
        <result column="img6" jdbcType="VARCHAR" property="img6"/>
        <result column="visible_status" jdbcType="TINYINT" property="visibleStatus"/>
        <result column="valid_status" jdbcType="TINYINT" property="validStatus"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime"/>
    </resultMap>

</mapper>