<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.AlumniCircleMapper">
    <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dao.entity.AlumniCircle">
    </resultMap>
    <select id="queryAlumniCircleInfosByAccountId" resultType="cn.edu.seu.alumni_server.controller.dto.AlumniCircleDTO">
        SELECT ALC.alumni_circle_id, ALC.creator_id, ALC.alumni_circle_type, ALC.alumni_circle_name,
        ALC.alumni_circle_desc, ALC.avatar, ALC.authorization_status
        FROM alumni_circle AS ALC, alumni_circle_member AS ALCM
        WHERE ALC.alumni_circle_id = ALCM.alumni_circle_id AND ALCM.account_id = #{accountId};
    </select>
</mapper>