<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.DemandMapper">
    <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dao.entity.Demand">
        <result column="demand_id" jdbcType="BIGINT" property="demandId"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="demand_name" jdbcType="VARCHAR" property="demandName"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="tag1" jdbcType="VARCHAR" property="tag1"/>
        <result column="tag2" jdbcType="VARCHAR" property="tag2"/>
        <result column="tag3" jdbcType="VARCHAR" property="tag3"/>
        <result column="tag4" jdbcType="VARCHAR" property="tag4"/>
        <result column="tag5" jdbcType="VARCHAR" property="tag5"/>
        <result column="details" jdbcType="VARCHAR" property="detail"/>
        <result column="img1" jdbcType="VARCHAR" property="img1"/>
        <result column="img2" jdbcType="VARCHAR" property="img2"/>
        <result column="img3" jdbcType="VARCHAR" property="img3"/>
        <result column="img4" jdbcType="VARCHAR" property="img4"/>
        <result column="img5" jdbcType="VARCHAR" property="img5"/>
        <result column="img6" jdbcType="VARCHAR" property="img6"/>
        <result column="valid_status" jdbcType="TINYINT" property="validStatus"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime"/>
    </resultMap>


    <select id="selectDetailDemandByDemandId" resultType="cn.edu.seu.alumni_server.controller.dto.DemandDetailDTO">
        select DMD.demand_id,
        DMD.demand_name,
        DMD.type,
        DMD.tag1,
        DMD.tag2,
        DMD.tag3,
        DMD.tag4,
        DMD.tag5,
        DMD.details,
        DMD.img1,
        DMD.img2,
        DMD.img3,
        DMD.img4,
        DMD.img5,
        DMD.img6,
        DMD.c_time,
        DMD.account_id,
        ACC.name as account_name,
        ACC.avatar as account_avator,
        EDU.education as account_education_level,
        EDU.school as account_education_school,
        EDU.college as account_education_college,
        EDU.start_time as account_start_education_year
        from demand as DMD
        left join
        account as ACC on DMD.account_id = ACC.account_id
        left join
        education as EDU on ACC.account_id = EDU.account_id
        where
          ACC.valid_status = 1
          AND EDU.valid_status = 1
          AND DMD.demand_id = #{demandId}
    </select>

    <select id="queryDemandList" resultType="cn.edu.seu.alumni_server.controller.dto.DemandListDTO">
        select DISTINCT DMD.demand_id,
        DMD.demand_name,
        DMD.tag1,
        DMD.tag2,
        DMD.tag3,
        DMD.tag4,
        DMD.tag5,
        DMD.c_time,
        DMD.account_id,
        ACC.name as account_name,
        EDU.college as account_education_college,
        EDU.start_time as account_start_education_year
       from demand as DMD
        left join
        account as ACC on DMD.account_id = ACC.account_id
        left join
        education as EDU on ACC.account_id = EDU.account_id
        where
          ACC.valid_status = 1
        AND EDU.valid_status = 1
        <if test="type != null">
        AND DMD.type = #{type}
        </if>
        <if test="name != null">
        AND DMD.name = #{name}
        </if>
    </select>
</mapper>