<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.UserEducationMapper">
  <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dao.entity.UserEducation">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="end_year" jdbcType="VARCHAR" property="endYear" />
    <result column="start_year" jdbcType="VARCHAR" property="startYear" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="isdeleted" jdbcType="TINYINT" property="isdeleted" />
  </resultMap>

</mapper>