<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.V1ApiAdapterMapper">

    <select id="checkExsist"
            resultType="cn.edu.seu.alumni_server.controller.dto.WorkDTO">
        select a.openid, b.company, b.job, b.start_year, b.end_year, c.id
        from user a,
             user_work b,
             user_info c
        where a.openid = #{id}
          and a.openid = b.openid
          and a.openid = c.openid
    </select>

    <select id="search" resultType="cn.edu.seu.alumni_server.controller.dto.EducationDTO">
        select id, a.openid, school, background, department, c.start_year, c.end_year
        from user a,
             user_info b,
             user_education c,
             user_work d
        where a.openid = b.openid
          and a.openid = c.openid
          and a.openid = d.openid
          and (
                b.real_name like CONCAT('%', #{content}, '%') or
                c.school like CONCAT('%', #{content}, '%') or
                b.city like CONCAT('%', #{content}, '%') or
                d.company like CONCAT('%', #{content}, '%') or
                d.job like CONCAT('%', #{content}, '%')
            )
        limit #{page},#{limit}
    </select>

    <!--    基于openid获得当前用户的全部基础信息（包括个人信息和联系方式）-->
    <!--    List<UserDTO> getUser(String openid);-->
    <!--    String openid;-->
    <!--    String phone;-->
    <!--    String wechat;-->
    <!--    String email;-->

    <!--    List<UserInfoDTO> getUserInfos(String openid);-->
    <!--    List<FriendDTO> getFriends(String openid);-->
    <!--    List<WorkDTO> getWorks(String openid);-->
    <!--    List<EducationDTO> getEducations(String openid);-->
    <select id="getUser" resultType="cn.edu.seu.alumni_server.controller.dto.UserDTO">
        select openid, phone, wechat, email
        from user
        where openid = #{openid}
    </select>
    <select id="getUserInfos" resultType="cn.edu.seu.alumni_server.controller.dto.UserInfoDTO">
        select openid, head_url, gender, descr, city, real_name
        from user_info
        where openid = #{openid}
    </select>
    <select id="getFriends" resultType="cn.edu.seu.alumni_server.controller.dto.FriendDTO">
        select a.friend_id, head_url, real_name, company, job
        from user_friend a,
             user b,
             user_info c,
             user_work d

        where a.friend_id = b.openid
          and a.friend_id = c.openid
          and a.friend_id = d.openid
          and a.openid = #{openid}

    </select>
    <select id="getWorks" resultType="cn.edu.seu.alumni_server.controller.dto.WorkDTO">
        select openid, company, job, start_year, end_year
        from user_work
        where openid = #{openid}

    </select>
    <select id="getEducations" resultType="cn.edu.seu.alumni_server.controller.dto.EducationDTO">
        select openid, school, background, department, start_year, end_year
        from user_education
        where openid = #{openid}

    </select>

    <update id="deletework">
        update user_work
        set is_deleted = 1
        where openid = #{openid}
          and id = #{id};
    </update>
    <update id="deleteEducation">
        update user_education
        set is_deleted = 1
        where openid = #{openid}
          and id = #{id};
    </update>

</mapper>