<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.V2ApiMapper">

    <select id="searchByName"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from account d where name like
          CONCAT('%', #{content}, '%'))
      </select>
    <select id="searchBySchool"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from education d where d.school like
          CONCAT('%', #{content}, '%'))

      </select>
    <select id="searchByCollege"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from education d where d.college like
          CONCAT('%', #{content}, '%'))
      </select>
    <select id="searchByCity"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from account d where d.city like
          CONCAT('%', #{content}, '%'))
      </select>
    <select id="searchByCompany"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from job d where d.company like
          CONCAT('%', #{content}, '%'))
      </select>
    <select id="searchByPosition"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from job d where d.position like
          CONCAT('%', #{content}, '%'))
      </select>
    <select id="searchBySelfDesc"
            resultType="cn.edu.seu.alumni_server.controller.dto.BriefInfo">
          select a.account_id, a.openid, a.avatar, a.name, a.city, a.selfDesc,b.school,c.company
          from ((account a left join education b on a.account_id=b.account_id)
          left join job c on a.account_id=c.account_id)
          where a.account_id in (
          select distinct d.account_id from account d where d.selfDesc like
          CONCAT('%', #{content}, '%'))
      </select>

    <!--  private Long accountId;-->
    <!--  private String openid;-->
    <!--  private String avatar;-->
    <!--  private String name;-->
    <!--  private String location;-->
    <!--  private String company;-->
    <!--  private String selfDesc;-->
    <!--  private String recommondReason;-->

</mapper>